{
  "ApiHttpClient": {
    "BaseAddress": "http://localhost:5600"
  },
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "TenantId": "<your-tenant-id>",
    "ClientId": "<your-client-id>",
    "ValidateAuthority": true
  }
}
